<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Client Details</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3><i class="fa fa-user"></i> Client Information</h3>
      </div>
      <!-- .panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <dl>
              <dt>Client Name</dt>
              <dd>{{model.firstname}}</dd>
            </dl>
          </div>
          <div class="col-lg-6">
            <dl>
              <dt>Client Lastname</dt>
              <dd>{{model.lastname}}</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <dl>
              <dt>Client Email</dt>
              <dd>{{model.email}}</dd>
            </dl>
          </div>
          <div class="col-lg-6">
            <dl>
              <dt>Client Phone</dt>
              <dd>{{model.phone}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3><i class="fa fa-user"></i> Parent Information</h3>
      </div>
      <!-- .panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <dl>
              <dt>Parent Name</dt>
              <dd>Juan Perez</dd>
            </dl>
          </div>
          <div class="col-lg-6">
            <dl>
              <dt>Parent Lastname</dt>
              <dd>Juan Perez</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <dl>
              <dt>Parent Email</dt>
              <dd>jperez@gmail.com</dd>
            </dl>
          </div>
          <div class="col-lg-6">
            <dl>
              <dt>Parent Phone</dt>
              <dd>123456789</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
