<h2 id="title">Welcome to Ember</h2>

{{#if session.isAuthenticated}}
  {{#link-to 'protected'}}Protected{{/link-to}}
  <button {{action 'invalidateSession'}}>Logout</button>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
  {{#link-to 'register'}}Register{{/link-to}}
{{/if}}

{{outlet}}
