<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-calendar fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">10</div>
							<div>Dates Today!</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-money fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">$20.000</div>
							<div>Clients owe you!</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-tachometer fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">20%</div>
							<div>Of your billed dates are paid!</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Top Debtors
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="dataTable_wrapper">
						<table class="table table-striped table-bordered table-hover" id="top-debtors">
							<thead>
								<tr>
									<th>Firstname</th>
									<th>Lastname</th>
									<th>Debt</th>
									<th>Phone</th>
								</tr>
							</thead>
							<tbody>
								<tr class="even">
									<td>Ignacio</td>
									<td>Ortuzar</td>
									<td>$20.000</td>
									<td>123456789</td>
								</tr>
								<tr class="odd">
									<td>Rafael</td>
									<td>Cereceda</td>
									<td>$10.000</td>
									<td>987654321</td>
								</tr>
								<tr class="even">
									<td>Ignacio</td>
									<td>Ortuzar</td>
									<td>$20.000</td>
									<td>123456789</td>
								</tr>
								<tr class="odd">
									<td>Rafael</td>
									<td>Cereceda</td>
									<td>$10.000</td>
									<td>987654321</td>
								</tr>
								<tr class="even">
									<td>Ignacio</td>
									<td>Ortuzar</td>
									<td>$20.000</td>
									<td>123456789</td>
								</tr>
								<tr class="odd">
									<td>Rafael</td>
									<td>Cereceda</td>
									<td>$10.000</td>
									<td>987654321</td>
								</tr>
								<tr class="even">
									<td>Ignacio</td>
									<td>Ortuzar</td>
									<td>$20.000</td>
									<td>123456789</td>
								</tr>
								<tr class="odd">
									<td>Rafael</td>
									<td>Cereceda</td>
									<td>$10.000</td>
									<td>987654321</td>
								</tr>
								<tr class="even">
									<td>Ignacio</td>
									<td>Ortuzar</td>
									<td>$20.000</td>
									<td>123456789</td>
								</tr>
								<tr class="odd">
									<td>Rafael</td>
									<td>Cereceda</td>
									<td>$10.000</td>
									<td>987654321</td>
								</tr>
								<tr class="even">
									<td>Ignacio</td>
									<td>Ortuzar</td>
									<td>$20.000</td>
									<td>123456789</td>
								</tr>
								<tr class="odd">
									<td>Rafael</td>
									<td>Cereceda</td>
									<td>$10.000</td>
									<td>987654321</td>
								</tr>
								<tr class="even">
									<td>Ignacio</td>
									<td>Ortuzar</td>
									<td>$20.000</td>
									<td>123456789</td>
								</tr>
								<tr class="odd">
									<td>Rafael</td>
									<td>Cereceda</td>
									<td>$10.000</td>
									<td>987654321</td>
								</tr>
								<tr class="even">
									<td>Ignacio</td>
									<td>Ortuzar</td>
									<td>$20.000</td>
									<td>123456789</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
