<div class="container">
  <br/>
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="login-panel-title">Login</h1>
          </div>
          <div class="panel-body">
            <form {{action 'authenticate' on="submit"}} role="form">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-envelope form-icon"></i></span> {{input value=email type="text" placeholder="Email" class="form-control"}}
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock form-icon"></i></span> {{input value=password type="password" placeholder="Password" class="form-control"}}
              </div>
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              {{#if errorMessage}}
                <p>{{errorMessage}}</p>
              {{/if}}
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
