<h3>Delete {{moment-format model.datetime "LLL"}} appointment?</h3>
<button {{action "delete" model}} type="submit" class="btn btn-primary">Delete</button>
<button {{action 'cancel'}} type="button" class="btn btn-default">Cancel</button>
